.main {
  position: absolute;
  top: 50%;
  left: 50%;
  /* height: 150px; */
  margin-top: -191px; /* height/2 */
  width: 220px;
  margin-left: -378px; /* width/2 */
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 95%;
  max-width: 56rem;
  padding: 10px 20px;
}
